python-dotenv==1.1.0
line-bot-sdk==3.16.3
gunicorn==23.0.0
openai==1.75.0
python-dateutil==2.9.0.post0
stats==0.1.2a0
asyncpg==0.30.0
alembic==1.11.0
psycopg2-binary>=2.9
sqlalchemy==2.0.20
pydantic==2.5.2
uvicorn==0.23.2
fastapi==0.103.1
greenlet==3.2.2
faker==19.0.0
aiosqlite==0.21.0
docxtpl==0.20.0
pytest==8.4.2
pytest-asyncio==1.2.0
httpx==0.28.1
